.contact {
    background-color: var(--color-bg-secondary);

    @media screen and (min-width: $breakpoint-md) {
        margin: 20px 30px;
        border-radius: 20px;
    }

    h3 {
        font-size: 26px;
        margin: 0;
        padding: 50px 0 0 20px;
        color: var(--color-font-primary);
        font-family: var(--font-secondary);

        span {
            font-family: var(--font-primary);
            color: var(--color-font-secondary);
            font-size: 36px;
        }
    }

    @media screen and (min-width: $breakpoint-sm) {
        h3 {
            width: 50%;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        display: flex;
        padding: 0 0 50px 0;

        h3 {
            width: 70%;
        }
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 30px 10px;

    border: none;

    @media screen and (min-width: $breakpoint-md) {
        flex-direction: row;
        padding: 10px 10px 30px 30px;
    }

    .textarea {
        .input__element {
            resize: vertical;
        }
    }
}

.formulaire {
    @media screen and (min-width: $breakpoint-md) {
        width: 60%;
    }
}

.informations,
.commentaires {
    width: 100%;
}

.informations .input {
    margin: 20px 0;
}

.commentaires {
    @media screen and (min-width: $breakpoint-md) {
        margin: 0 0 0 20px;
        .input__element {
            margin: 10px 0 0 0;
            height: 240px;
        }
    }
}

.input__label {
    font-family: var(--font-secondary);
    color: var(--color-font-primary);
    font-weight: bold;
    padding: 10px;
}

.input__element {
    display: block;
    background-color: var(--color-bg-primary);
    border: none;
    border-radius: 6px;
    width: 100%;
    color: var(--color-font-primary);

    font-size: 14px;

    padding: 15px 20px 15px 10px;
    margin: 10px 0;

    &:hover {
        background-color: #2a3744;
    }

    &:focus {
        background-color: #3f5061;
    }
}

.button-contact {
    padding: 15px 20px;
    margin: 0 auto;
    background-color: var(--color-bg-tertiary);
    color: var(--color-font-primary);
    font-family: var(--font-secondary);
    font-weight: bold;

    border: none;
    border-radius: 6px;

    @media screen and (min-width: $breakpoint-md) {
        padding: 10px 20px;
    }
}

.boutons-container {
    display: flex;
    justify-content: center;
}

.reseaux-container {
    padding: 80px 0 40px 0;
    font-family: var(--font-secondary);

    h6 {
        color: var(--color-font-secondary);
        margin: 0;
        text-align: center;
        font-size: 18px;
    }

    @media screen and (min-width: $breakpoint-md) {
        padding: 147px 0 40px 40px;
    }
}

.reseaux {
    background-color: var(--color-bg-primary);
    margin: 10px 20px 40px 20px;
    padding: 20px;
    height: 240px;
    border-radius: 6px;

    color: var(--color-font-primary);
    font-size: 14px;

    .nom {
        font-weight: bold;
        font-size: 18px;
        margin: 5px 0;
    }

    .information-perso {
        display: flex;
        align-items: center;
        margin: 10px 0;
        p {
            padding: 0 10px;
        }
    }

    .reseaux-sociaux {
        margin: 35px 0 0 0;

        .icon {
            margin: 0 5px;
        }
    }
}

.error {
    .input__element {
        border: 3px solid var(--color-bg-tertiary);
    }
}
