.contact{
    background-color: var(--color-bg-secondary);

    h3{
        font-size: 26px;
        margin: 0;
        padding: 50px 0 0 20px;
        color: var(--color-font-primary);
        font-family: var(--font-secondary);
    
        span{
            font-family: var(--font-primary);
            color: var(--color-font-secondary);
            font-size: 36px;
        }
    }
}



.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 30px 10px;

    border: none;
}

.informations, .commentaires{
    width: 100%;
}

.informations .input{
    margin: 20px 0;
}

.input__label {
    font-family: var(--font-secondary);
    color: var(--color-font-primary);
    font-weight: bold;
    padding: 10px;
}

.input__element {
    display: block;
    background-color: var(--color-bg-primary);
    border: none;
    border-radius: 6px;
    width: 100%;

    font-size: 14px;

    padding: 15px 20px 15px 10px;
    margin: 10px 0;
}

.button-contact{
    padding: 15px 20px;
    margin: 0 auto;
    background-color: var(--color-bg-tertiary);
    color: var(--color-font-primary);
    font-family: var(--font-secondary);
    font-weight: bold;

    border: none;
    border-radius: 6px;
}

.boutons-container{
    display: flex;
    justify-content: center;
}

.reseaux-container{
    padding: 80px 0 40px 0;
    font-family: var(--font-secondary);

    h6{
        color: var(--color-font-secondary);
        margin: 0;
        text-align: center;
        font-size: 18px;
        
    }
}

.reseaux{
    background-color: var(--color-bg-primary);
    margin: 10px 20px 40px 20px;
    padding: 20px;
    border-radius: 6px;

    color: var(--color-font-primary);
    font-size: 14px;

    .nom{
        font-weight: bold;
        font-size: 18px;
        margin: 5px 0;
    }
}
