.contact {
    background-color: var(--color-bg-secondary);

    @media screen and (min-width: $breakpoint-md) {
        margin: 20px 30px;
        border-radius: 20px;
        display: flex;
        padding: 50px 0;
    }

    @media screen and (min-width: $breakpoint-xl) {
        padding: 50px 0 70px 0;
        margin: 10px 50px 0 50px;
    }

    h4 {
        font-size: 26px;
        margin: 0;
        padding: 50px 0 0 20px;
        color: var(--color-font-primary);
        font-family: var(--font-secondary);

        span {
            font-family: var(--font-primary);
            color: var(--color-font-secondary);
            font-size: 36px;
        }

        @media screen and (min-width: $breakpoint-sm) {
            width: 50%;
        }

        @media screen and (min-width: $breakpoint-md) {
            width: 68%;
            padding: 50px 0 0 40px;
        }

        @media screen and (min-width: $breakpoint-lg) {
            width: 80%;
            font-size: var(--font-size-h4);
            padding: 10px 0 0 60px;

            span {
                font-size: 55px;
            }
        }
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 30px 10px;

    border: none;

    .textarea {
        .input__element {
            resize: vertical;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        flex-direction: row;
        padding: 10px 10px 30px 30px;
    }

    @media screen and (min-width: $breakpoint-lg) {
        padding: 10px 10px 30px 80px;
    }
}

.formulaire {
    @media screen and (min-width: $breakpoint-md) {
        width: 60%;
    }

    @media screen and (min-width: $breakpoint-xl) {
        width: 50%;
        margin: 0 0 0 80px;
    }
}

.informations,
.commentaires {
    width: 100%;
}

.informations .input {
    margin: 20px 0;

    @media screen and (min-width: $breakpoint-lg) {
        margin: 20px 20px 20px 0;
    }
}

.commentaires {
    @media screen and (min-width: $breakpoint-md) {
        margin: 0 0 0 20px;
        .input__element {
            margin: 10px 0 0 0;
            height: 240px;
        }
    }

    @media screen and (min-width: $breakpoint-xl) {
        .input__element {
            height: 400px;
        }
    }
}

.input__label {
    font-family: var(--font-secondary);
    color: var(--color-font-primary);
    font-weight: bold;
    padding-left: 10px;

    @media screen and (min-width: $breakpoint-lg) {
        font-size: 20px;
    }
    @media screen and (min-width: $breakpoint-xl) {
        font-size: var(--font-size-content-primary);
    }
}

.input__element {
    display: block;
    background-color: var(--color-bg-primary);
    border: none;
    border-radius: 6px;
    width: 100%;
    color: var(--color-font-primary);

    font-size: 14px;

    padding: 15px 20px 15px 10px;
    margin: 10px 0;

    transition: 0.4s all;

    &:hover {
        background-color: #2a3744;
    }

    &:focus {
        background-color: #3f5061;
    }

    @media screen and (min-width: $breakpoint-xl) {
        font-size: 20px;
        padding: 20px 20px 20px 10px;
        margin: 10px 0 70px 0;
    }
}

.input:nth-child(3) {
    @media screen and (min-width: $breakpoint-xl) {
        .input__element {
            margin: 10px 0 0 0;
        }
    }
}

.boutons-container {
    display: flex;
    justify-content: center;

    .button-contact {
        padding: 15px 20px;
        margin: 0 auto;
        background-color: var(--color-bg-tertiary);
        color: var(--color-font-primary);
        font-family: var(--font-secondary);
        font-weight: bold;
        cursor: pointer;

        border: none;
        border-radius: 6px;
        transition: 0.4s all;

        &:hover{
            background-color: #BC5F41;
        }

        @media screen and (min-width: $breakpoint-md) {
            padding: 10px 20px;
        }

        @media screen and (min-width: $breakpoint-xl){
            font-size: var(--font-size-content-primary);
        }
    }
}

.reseaux-container {
    padding: 80px 0 40px 0;
    font-family: var(--font-secondary);

    h6 {
        color: var(--color-font-secondary);
        margin: 0;
        text-align: center;
        font-size: 16px;

        @media screen and (min-width: $breakpoint-lg) {
            font-size: 20px;
        }

        @media screen and (min-width: $breakpoint-xl) {
            font-size: var(--font-size-content-primary);
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        padding: 147px 0 40px 40px;
    }

    @media screen and (min-width: $breakpoint-lg) {
        padding: 160px 0 40px 70px;
    }

    @media screen and (min-width: $breakpoint-xl) {
        width: 50%;
        padding: 160px 130px 40px 70px;
    }
}

.reseaux {
    background-color: var(--color-bg-primary);
    margin: 10px 20px 40px 20px;
    padding: 20px;
    height: 240px;
    border-radius: 6px;

    color: var(--color-font-primary);
    font-size: 14px;

    .nom {
        font-weight: bold;
        font-size: 18px;
        margin: 5px 0;

        @media screen and (min-width: $breakpoint-xl) {
            font-size: var(--font-size-content-secondary);
            margin: 5px 0 5px 15px;
        }
    }

    .information-perso {
        display: flex;
        align-items: center;
        margin: 10px 0;
        p {
            padding: 0 10px;
        }

        @media screen and (min-width: $breakpoint-xl){
            p{
              font-size: 16px;  
            }
            
            .icon {
                margin: 0 10px;
                height: 4em;
                width: 4em;
            }
    }
    }

    .reseaux-sociaux {
        margin: 35px 0 0 0;

        .icon {
            margin: 0 5px;
        }

        @media screen and (min-width: $breakpoint-xl){
                margin: 120px 0 0 0;
            
                .icon {
                    margin: 0 10px;
                    height: 4em;
                    width: 4em;
                }
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        margin: 10px 20px 40px 15px;

        .infos {
            margin-right: 50px;
        }
    }

    @media screen and (min-width: $breakpoint-lg) {
        .infos {
            margin-right: 70px;
        }
    }

    @media screen and (min-width: $breakpoint-xl) {
        height: 395px;
        padding: 20px 20px 20px 25px;
    }
}

.error {
    .input__element {
        box-shadow: inset 0px 0px 0px 3px var(--color-bg-tertiary);
    }
}

.copyright-contact {
    margin: 40px 0 0 0;
}
