.descriptionGab{
    color: var(--color-font-primary);
    text-align: center;
    min-height: 1300px;

    .wrapper{
        padding: 20px 55px 0 55px;
        position: relative;
        z-index: 2;
        background-color: transparent;
    }
    h2{
        font-size: 30px;
    }

    h5{
        font-size: 26px;
        font-weight: 600;
        color: var(--color-font-secondary);
        margin: 0;
    }

    
    p{
        font-size: 18px;
    }

    img{
        border-radius: 52px;
        
    }

    .qualites{
        margin: 100px 0 0 0;
    }

    .qualite{
        margin: 60px 0;
    }

    img > #particles-js {
        -webkit-mask: url(#mask);
        mask: url(#mask);
    }
}