.hero_accueil {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 80vh;

    h1 {
        font-family: var(--font-secondary);
        color: #fff;
        text-align: center;
        z-index: 1;
        font-size: 40px;
        pointer-events: none;
    }

    h3 {
        color: var(--color-font-secondary);
        text-align: center;
        z-index: 1;
        font-size: var(--font-size-h6);
        margin-top: 10px;
        pointer-events: none;
    }

    a.button {
        text-align: center;
        font-family: var(--font-secondary);
        font-weight: bold;
        font-size: var(--font-size-content-primary);

        background-color: var(--color-bg-tertiary);
        border-radius: 6px;

        width: 260px;
        height: 75px;

        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;

        transition: 0.4s all;

        &:hover {
            background-color: #bc5f41;
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        h1 {
            font-size: 100px;
        }

        h3 {
            font-size: var(--font-size-h4);
        }
    }

    @media screen and (min-width: $breakpoint-lg) {
        h1 {
            font-size: var(--font-size-h1);
        }

        h3 {
            font-size: var(--font-size-h3);
        }
    }
}
