.projets {
    margin-top: 80px;
    @media screen and (min-width: $breakpoint-md) {
        margin-top: 100px;
    }
}

.projet {
    background-color: transparent;
    color: var(--color-font-primary);
    text-align: right;
    padding: 20px;
    margin: 30px 0;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: $breakpoint-sm) {
        margin: 30px 10px;
        border-radius: 15px;
    }

    @media screen and (min-width: $breakpoint-md) {
        padding: 30px 40px;
        margin: 30px 20px;
    }

    @media screen and (min-width: $breakpoint-lg) {
        padding: 40px 50px;
        margin: 60px 100px;
    }

    .projet-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .projet_texte {
            display: flex;
            align-items: center;
            flex-direction: column;
            z-index: 1;
            pointer-events: none;
        }

        @media screen and (min-width: $breakpoint-sm) {
            flex-direction: row;

            &.projet-reverse {
                flex-direction: row-reverse;
                text-align: left;
            }

            .projet_texte {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                width: 50%;
            }

            &.projet-reverse .projet_texte {
                align-items: flex-start;
            }
        }

        @media screen and (min-width: $breakpoint-md) {
            .projet_texte {
                justify-content: center;
                min-height: 500px;
                width: 50%;
            }
        }

        @media screen and (min-width: $breakpoint-md) {
            .projet_texte {
                min-height: 600px;
            }
        }
    }

    & .img_projet {
        width: 100%;
        min-height: 340px;
        background-repeat: no-repeat;
        border-radius: 15px;
        z-index: 1;
        pointer-events: none;

        @media screen and (min-width: $breakpoint-sm) {
            width: 50%;
            min-height: 350px;
        }
        @media screen and (min-width: $breakpoint-md) {
            min-height: 470px;
        }
        @media screen and (min-width: $breakpoint-lg) {
            min-height: 600px;
        }

        @media screen and (min-width: $breakpoint-xl) {
            width: 45%;
            min-height: 650px;
        }
    }

    &:nth-child(1) {
        .img_projet {
            background-image: url(/assets/images/ville-nocturne.png);
            background-position-x: 15%;
            background-size: cover;
        }
    }
    &:nth-child(2) {
        .img_projet {
            background-image: url(/assets/images/paradis-perdu.png);
            background-position-x: -10px;
            background-size: cover;
        }
    }
    &:nth-child(3) {
        .img_projet {
            background-image: url(/assets/images/jeu-rpg.png);
            background-position-x: 95%;
            background-position-y: 60%;
            background-size: cover;
        }
    }
    &:nth-child(4) {
        .img_projet {
            background-image: url(/assets/images/souris.png);
            background-position-x: 35%;
            background-size: cover;
        }
    }
    &:nth-child(5) {
        .img_projet {
            background-image: url(/assets/images/touchdesigner.png);
            background-position-x: 50%;
            background-position-y: 45%;
            background-size: 250%;
        }
    }

    h2 {
        font-size: var(--font-size-h5);
        font-family: var(--font-secondary);
        margin: 30px 0 10px 0;

        @media screen and (min-width: $breakpoint-lg) {
            font-size: var(--font-size-h2);
        }
    }

    h5 {
        font-size: 24px;
        font-weight: 600;
        color: var(--color-font-secondary);
        margin: 10px 0 10px 0;

        @media screen and (min-width: $breakpoint-lg) {
            font-size: var(--font-size-h5);
        }
    }

    p {
        width: 95%;

        @media screen and (min-width: $breakpoint-lg) {
            font-size: var(--font-size-content-primary);
            width: 80%;
        }
    }

    .evidence {
        color: var(--color-font-secondary);
        font-weight: 600;
    }

    a.bouton_projet {
        background-color: var(--color-bg-tertiary);
        margin: 10px 0 0 0;
        padding: 20px 30px;
        font-family: var(--font-secondary);
        border-radius: 6px;
        transition: 0.4s all;
        pointer-events: all;

        &:hover {
            background-color: #bc5f41;
        }

        @media screen and (min-width: $breakpoint-lg) {
            font-size: var(--font-size-content-primary);
        }
    }
}
