.projet {
    background-color: var(--color-bg-secondary);
    color: var(--color-font-primary);
    text-align: center;
    padding: 20px;
    margin: 30px 0;

    .projet-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .projet_texte {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        @media screen and (min-width: $breakpoint-sm) {
            flex-direction: row;

            &.projet-reverse {
                flex-direction: row-reverse;
                text-align: left;
            }

            .projet_texte {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
            }

            &.projet-reverse .projet_texte {
                align-items: flex-end;
            }
        }
    }

    & .img_projet {
        width: 100%;
        min-height: 340px;
        background-repeat: no-repeat;
    }

    &:nth-child(1) {
        .img_projet {
            background-image: url(/assets/images/ville-nocturne.png);
            background-position-x: 15%;
            background-size: cover;
        }
    }
    &:nth-child(2) {
        .img_projet {
            background-image: url(/assets/images/paradis-perdu.png);
            background-position-x: -10px;
            background-size: cover;
        }
    }
    &:nth-child(3) {
        .img_projet {
            background-image: url(/assets/images/jeu-rpg.png);
            background-position-x: 95%;
            background-position-y: 60%;
            background-size: cover;
        }
    }
    &:nth-child(4) {
        .img_projet {
            background-image: url(/assets/images/souris.png);
            background-position-x: 35%;
            background-size: cover;
        }
    }
    &:nth-child(5) {
        .img_projet {
            background-image: url(/assets/images/touchdesigner.png);
            background-position-x: 50%;
            background-position-y: 45%;
            background-size: 250%;
        }
    }

    h2 {
        font-size: var(--font-size-h5);
        font-family: var(--font-secondary);
        margin: 30px 0 10px 0;
    }

    h5 {
        font-size: 24px;
        font-weight: 600;
        color: var(--color-font-secondary);
        margin: 10px 0 10px 0;
    }

    p {
        width: 95%;
    }

    .evidence {
        color: var(--color-font-secondary);
        font-weight: 600;
    }

    a {
        background-color: var(--color-bg-tertiary);
        margin: 10px 0 0 0;
        padding: 20px 30px;
        font-family: var(--font-secondary);
        border-radius: 6px;
    }
}
