@use "../settings/variables" as *;


.aboutSection {
  width: 100%;
  padding: 5rem 10% 4rem 10%;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.aboutContent {
  width: 60%;
}

.aboutImage {
  display: flex;
  justify-content: center;
  width: 40%; 
  img {
    width: 100%;   
    height: auto;  
    border-radius: 24px;
    object-fit: cover; 
  }
}

.aboutTitle {
  font-size: 64px;
  color: $text-main;
  padding-bottom: 20px;
}

.aboutSubtitle {
  font-size: 36px;
  margin: 20px 0 20px 0;
  color: $accent;
}

.aboutText {
  font-size: 20px;
  color: $text-muted;
  line-height: 1.3;
  font-weight: 400;
}



@media (max-width: $breakpoint-sm) {
  .aboutSection {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
  }

  .aboutImage {
    order: -1; 
    margin-bottom: 2rem;
  }

}




