@use "../settings/variables" as *;

.futureContent,
.skillsContent {
  margin: 30px;
  padding: 4rem;

  background-color: $bg-dark;
  border-radius: 32px;
}

.futureGrid {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.futureColumn {
  width: 40%;
}

.futureContent h2,
.skillsContent h2 {
  font-size: 36px;
  color: $text-main;
  text-align: center;
  margin-bottom: 3rem;
}

.futureContent h3 {
  text-align: center;
  font-size: 28px;
  color: $accent;
  margin-bottom: 1.5rem;
}

.futureContent p,
.skillsContent p {
  font-size: 20px;
  color: $text-muted;
  line-height: 1.4;
  font-family: "Work Sans", sans-serif;
}

@media (max-width: $breakpoint-sm) {
  .futureGrid {
    flex-direction: column;
    gap: 2rem;
  }

  .futureColumn {
    width: 100%;
  }

  .futureContent,
  .skillsContent {
    padding: 2rem;
  }
}
