@use "../settings/variables" as *;

.passionsContent {
  padding: 4rem 3rem;
}

.passionsContent h2 {
  text-align: center;
  font-size: 36px;
  color: $text-main;
  margin-bottom: 4rem;
}

.passionGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.passionsContent.has-particles {
    position: relative;
}

.passionsContent.has-particles {
    position: relative;
    min-height: 500px;
}


@media (max-width: $breakpoint-sm) {
  .passionGrid {
    grid-template-columns: 1fr;
  }
}
