@use "../settings/variables" as *;


.projectStoryVideo {

  .storyHero {
    text-align: center;
    margin: 0 0 20px 0;
  }

  .storyTitle {
    font-size: 64px;
  }

  .storySubtitle {
    font-size: 22px;
    margin: 2rem auto 4rem;
  }

  .videoWrapper {
    margin: auto;

    video {
      border-radius: 24px;
    }
  }

  .storyChapter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: $container-width;
    height: 80vh;
    padding: 0 0 50px 0;

    &.reverse {
      flex-direction: row-reverse;
    }
  }

  .chapterText {
    width: 45%;
    text-align: center;

    h2 {
      font-size: 40px;
      color: $accent;
    }

    p {
      font-size: 20px;
      color: $text-muted;
    }
  }

  .chapterMedia {
    height: 100%;
    img, video {
      height: 100%;
      border-radius: 24px;
    }
  }

  .storyCredits {
    padding: 6rem 2rem;
    text-align: center;
  }
}
