@use "../settings/variables" as *;

.projects {
    margin: 0 auto;
    padding: 6rem 2rem;
}

.projectsTitle {
    text-align: center;
    font-size: 2.5rem;
    color: $text-main;
    margin-bottom: 3.5rem;
}

.moreProjectsTitle {
    text-align: center;
    font-size: 2.5rem;
    color: $text-main;
    margin: 2.5rem 0;
}

.projectGrid {
    max-width: $container-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    min-height: 300px;
}




@media (max-width: $breakpoint-md) {
    .projects {
        padding: 4rem 1.5rem;

        .projectGrid {
            grid-template-columns: 1fr;
        }
    }
}