/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    &:link {
        color: var(--color-font-primary);
        text-decoration: none;
    }

    &:visited {
        color: var(--color-font-primary);
    }

    &:hover {
        color: var(--color-font-primary);
        cursor: pointer;
    }

    &:active {
        color: var(--color-black);
    }

    &:focus {
        color: var(--color-font-secondary);
    }
}
