@use "../settings/variables" as *;


.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__content {
    max-width: 80%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    font-size: 150px;
    font-weight: 600;
    line-height: 1;
    pointer-events: none;
  }

  &__subtitle {
    margin-top: 1.2rem;
    font-size: 40px;
    font-weight: 600;
    color: $accent;
    pointer-events: none;
  }

  &__tagline {
    margin-top: 0.8rem;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-inline: auto;
  }


  &__socials {
    margin: 2.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1.8rem;

    a {

      font-size: 1.6rem;
      color: $accent;
      text-decoration: none;
      transition: transform 0.2s ease;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    min-height: 100vh;

    &__content {
      max-width: 100%;
    }

    &__title {
      font-size: 50px;
      font-weight: 600;
      line-height: 1;
    }

    &__subtitle {
      margin-top: 1.2rem;
      font-size: 20px;
      font-weight: 600;
      color: $accent;
    }

    &__tagline {
      margin-top: 0.8rem;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      margin-inline: auto;
    }

    &__socials {
      gap: 1.2rem;

      a {
        font-size: 1.2rem;
      }
    }
  }
}