@use "../settings/variables" as *;

.hero {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;

  &__content {
    max-width: 80%;
    padding: 0 1rem;
  }

  &__title {
    font-size: 100px;
    font-weight: 600;
    line-height: 1;
  }

  &__subtitle {
    margin-top: 1.2rem;
    font-size: 30px;
    font-weight: 600;
    color: $accent;
  }

  &__tagline {
    margin-top: 0.8rem;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-inline: auto;
  }


  &__socials {
    margin: 2.5rem 0 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1.8rem;

    a {

      font-size: 1.6rem;
      color: $accent;
      text-decoration: none;
      transition: transform 0.2s ease;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}