@use "../settings/variables" as *;

#particles-bg {
  position: fixed;
  inset: 0;

  /* Le canvas reste au-dessus pour capter la souris */
  z-index: 0;

  /* MAIS on laisse passer les clics vers le site */
  pointer-events: auto;
}

#particles-bg canvas {
  /* Le canvas reçoit la souris pour l'effet bubble */
  pointer-events: auto;
}

.page {
  position: relative;
  z-index: 1;
}