.has-particles {
  position: relative;
  overflow: hidden;
}

.has-particles .particles {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%; 
  z-index: 0;
  pointer-events: auto;
}

.has-particles > *:not(.particles) {
  position: relative;
  z-index: 1;
  pointer-events: none;
}


.has-particles a,
.has-particles button,
.has-particles input,
.has-particles textarea,
.has-particles .particleBlocker
{
  pointer-events: auto;
}
