/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-text-primary: #fff;
    --color-text-secondary: #f27a53;

    --color-bg-primary: #1b242d;
    --color-bg-secondary: #363b3f;
    --color-bg-tertiary: #f27a53;
}
