@use "settings/variables";
@use "settings/reset";
@use "settings/scrolly.scss";
@use "settings/easing.scss";
@use "settings/pageTransition.scss";
@use "settings/parallax.scss";

@use "sections/projects";
@use "sections/about";
@use "sections/futureSkills";
@use "sections/passions";
@use "sections/projectTemplate1";
@use "sections/projectTemplate2";

@use "components/header";
@use "components/hero";
@use "components/nav";
@use "components/projectCard";
@use "components/skillCard";
@use "components/passionCard";


@use "elements/body";
@use "elements/buttons";
